app-profile{
	.review-button{width: 100px;height: 40px;display: flex;color: #008489;font-size: 14px;font-weight: 500;justify-content: center;align-items: center;font-family: 'Rubik', sans-serif;}	
	.profile-content{position: relative;padding: 16px; min-height: 100%; background-color: #fff; display: flex; flex-direction: column;}
	.profile-content{
		.profile-picture-wrap{position: relative;margin: -16px -16px 32px; height: 200px;background: #008489;z-index: 0; overflow: hidden;}
		.profile-picture-wrap:after{content: '';position: absolute;width: 100%;height: 50%;background-color: #ffffff;border-radius: 50%;left: 50%;top: 100%;transform: translate(-50%, -50%);z-index: -1;}
		.profile-picture-wrap{
			.profile-picture{position: absolute;z-index: 1;width: 160px;height: 160px;bottom: 0;left: 50%;transform: translateX(-50%);}
			.profile-picture{
				.profile-img{position: relative;width: 100%;height: 100%;overflow: hidden;border-radius: 50%;}
				.profile-img img{width: 100%; height: 100%; object-fit: cover; object-position: center;}
				.change-image{position: absolute;width: 36px;height: 36px;background: #fff;bottom: 10px;right: 10px;display: flex;border-radius: 50%;box-shadow: rgba(0,0,0,0.4) 0 1px 8px;color: #008489;font-size: 20px;}
				.change-image i{ margin: auto;}
			}
		}
		.form-content{}
		.form-content{
			.control-label{display: flex;}
			.control-label span{margin: auto 0;margin-left: auto;font-size: 9px;text-transform: uppercase;font-weight: 400;background: #008489;padding: 2px 5px;border-radius: 3px;color: #fff;}
			.stripe-connection{margin: 20px 0;display: flex;justify-content: center;}
			.stripe-connection .btn-stripe{margin: 0;padding: 10px 20px;line-height: 1.2;font-size: 14px;background: #fff;box-shadow: rgba(0,0,0,0.2) 0 1px 4px;border-radius: 4px; display: flex;}
			.stripe-connection .btn-stripe i{margin: auto 0; color: #6772e5; font-size: 18px;}
			.stripe-connection .btn-stripe span{display: block; margin: auto 0; margin-left: 10px;}
			.form-phone-section{display: flex;}
			.form-phone-section .form-group:first-child{width:100%;margin-top:auto;max-width: 100px;margin-right: 10px;}
			.form-phone-section .form-group:last-child{width:100%;margin-top:auto;max-width:calc(100% - 110px);}
			.btn-phonecode{display: block;padding: 15px 0;width: 100%;background-color: transparent;text-align: left;font-size: 16px;font-weight: 400;border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;}
			.btn-phonecode:before{content:"\f078";font-family: "Font Awesome 5 Pro";position: absolute; top: 50%;right: 0;transform: translateY(-50%) rotate(0deg);font-size: 12px;font-weight: 600;opacity: 0.3; transition: all 0.3s ease;}
			.btn-phonecode:after{content:'';position: absolute; bottom: 0;left: 0; width: 100%; height: 1px; background:#008489;z-index: 1; transform: scale(0,1); transition: all 0.3s ease;}
			.btn-phonecode.active:before{transform:translateY(-50%) rotate(-180deg);}
			.btn-phonecode.active:after{transform: scale(1,1);}
			.phonecode-list{display:none;position: relative;margin: 10px 0 0;max-height: 280px;overflow: auto;}
			.phonecode-list{
				.phonecode-search{position: sticky;display: flex;background-color: #fff; border: 1px solid rgba(0,0,0,0.1);border-radius: 0px;overflow: hidden;top: 0;z-index: 1;margin: 0 0 5px;}
				.phonecode-search{
					.search-icon{position: relative;width: 34px;height: 34px;margin: auto 0;display: flex;background-color: #fff;border-right: 1px solid rgba(0,0,0,0.1);font-size: 14px; color: #008489;}
					.search-icon i{margin: auto;}
					.search-input{position: relative;width: 100%;max-width: calc(100% - 38px);}
					.search-input .form-control{position:relative;width: 100%;height: 100%;border: 0;padding: 6px 12px;font-size: 14px;}
					.search-close{position:absolute;top: 50%;right: 6px;transform: translateY(-50%);background: #008489;font-size: 10px;font-weight: 300;text-transform: uppercase;padding: 4px 10px;border-radius: 3px; color: #fff;}
				}
				.radio-group{position: relative;z-index: 0;}
			}
		}
		.signout-content{position: relative;background-color: #fff;padding: 10px;margin: 0 0 10px;border-radius: 6px;box-shadow: rgba(0,0,0,0.1) 0 1px 3px;}
		.signout-content{
			.signout-wrap{display:flex;}
			.signout-wrap{
				.icon{margin:auto 0;width: 36px;height: 36px;color: #ff5a5f;font-size: 30px;display: flex;}
				.icon i{margin:auto;}
				.title{margin: auto 0;margin-left: 10px;width: 100%;max-width: calc(100% - 82px);color: #212121;text-transform: uppercase;font-weight: 700;font-family: 'Raleway', sans-serif;font-size: 14px;letter-spacing: 0.5px;}
				.icon:last-child{color:#212121; opacity:0.3;}
			}
		}
	}
}
.page-action{position: relative;bottom: 0;z-index: 1;display: flex;}
.page-action{
	.btn-action{border-radius: 0;padding: 16px;font-size: 16px;font-weight: 500;text-transform: uppercase;}
}