<ion-header>
	<ion-toolbar  color="gold">
	  <ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons>
	  <ion-title >OTP Verification</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div class="py-5">
    <div class="text-center sentText">
      Verification code has been sent to <b>1234567890 .</b> <span class="text-gold"> Change number</span>
    </div>
    <div class="inputGroup mt-4 mb-3">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <p class="mb-4 text-center ">Dont recive OTP <span class="text-gold">Resend</span></p>
    <div class="text-center ">
      <button class="btn btn-secondary px-5 d-inline-block">Verify</button>
    </div>

    <div class="text text-center mt-4">
      By signing up you agree to the <span class="text-gold">Terms and Conditions</span> of services by EfiEwura Company Limited.
    </div>
  </div>

</ion-content>
