<ion-header>
	<ion-toolbar  color="gold">
	  <ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons>
	  <ion-title>Property Details</ion-title>
	</ion-toolbar>
	
</ion-header>

<ion-content>

	<ion-refresher slot="fixed" (ionRefresh)="getPropertyDetails($event,'pull')">
    	<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<div class="proDetailsCard">
		<div class="cardImg">
			<img src="{{main_image}}" alt="" onError="this.src='assets/images/event.jpg'"/>
			<button class="wishlist" (click)="propertyLike()"><i class="fal fa-fw fa-heart"></i></button>
			<div class="tag">{{propertyDetails.property_category}}</div>
		</div>
		<div class="cardContent">
			<h4 class="cardTitle">{{propertyDetails.property_title}}</h4>
			<div class="textItem location">
				<div>
					<ion-icon name="call-outline"></ion-icon>
					<span>{{propertyDetails.property_region}}, {{propertyDetails.property_city}}</span>
			    </div>
				<div class="cost">
					{{propertyDetails.property_cost}}
				</div>
			</div>
			<div class="textItem">
				<ion-icon name="call-outline"></ion-icon>
				<span>{{propertyDetails.property_posted_by_contact}}</span>
			</div>
			<div class="textItem">
				<ion-icon name="person-outline"></ion-icon>
				<span>Posted by <span>{{propertyDetails.property_posted_by}} </span></span>
			</div>
			<div class="actionItems">
				<button class="actionBtn"><ion-icon name="logo-whatsapp"></ion-icon></button>
				<button class="actionBtn"><ion-icon name="call-outline"></ion-icon></button>
				<button class="actionBtn"><ion-icon name="location-outline"></ion-icon></button>
			</div>
			
			<div class="metas">
				<div class="item">
					<i class="fas fa-bed"></i>
					<span> {{propertyDetails.property_beds}}</span>
				</div>
				<div class="item">
					<i class="fas fa-bath"></i>
					<span>{{propertyDetails.property_baths}}</span>
				</div>
			</div>

			<div class="cardDetails">
				<div class="about-title">About The Property</div>
				<div class="about-text" [innerHTML]="propertyDetails.property_details"></div>
			</div>

		</div>
	</div>
	  
</ion-content>
