<ion-header>
	<div class="header">
		<ion-toolbar>
			<ion-buttons slot="start">
				<div class="back-button" (click)="navPop()">
					<i class="far fa-fw fa-chevron-left"></i>
				</div>
			</ion-buttons>
			<ion-title>{{header_title}}</ion-title>
		</ion-toolbar>
	</div>
</ion-header>

<ion-content>
	<ion-segment [(ngModel)]="segment_value">
	  <ion-segment-button value="signin" (click)="segmentChange('signin')">
	    <ion-label>Signin</ion-label>
	  </ion-segment-button>
	  <ion-segment-button value="signup" (click)="segmentChange('signup')">
	    <ion-label>Signup</ion-label>
	  </ion-segment-button>
	</ion-segment>

	<ng-template [ngIf]="segment_value=='signin'">
		<div class="login-form-page">
			<div class="form-content">
				<div class="form-group">
			        <label class="control-label">Login Type</label>
			        <div class="radio-group">
			          <div class="custom-radio">
			            <input type="radio" name="radio-connect-01" value="2" class="custom-input-radio" (click)="connectMethod('2')" [(ngModel)]="user_type"/>
			            <label class="custom-input-label">Agent</label>
			          </div>
			          <div class="custom-radio">
			            <input type="radio" name="radio-connect-01" value="3" class="custom-input-radio" (click)="connectMethod('3')" 
			            [(ngModel)]="user_type"/>
			            <label class="custom-input-label">Customer</label>
			          </div>
			        </div>
			     </div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<div class="input-wrap">
						<input type="text" class="form-control" [(ngModel)]="email"/>
					</div>
				</div>
				<div class="form-group mb-4">
					<label class="control-label">Password</label>
					<div class="input-wrap">
						<input type="password" class="form-control" [(ngModel)]="password"/>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-submit" (click)="signinFun()">Signin</button>
				</div>
				<!-- <div class="form-actions">
					<button class="btn-forgot-password">Forgot Password</button>
				</div> -->
			</div>
			<!-- <div class="or-separator">
				<div class="or"><span>or</span></div>
				<div class="or-separator-text">Signin using</div>
			</div>
			<div class="social-login">
				<button class="btn-social-login">
					<div class="icon"><img src="assets/icon/facebook-icon.svg" alt=""/></div>
					<div class="btn-text">Facebook</div>
				</button>
				<button class="btn-social-login">
					<div class="icon"><img src="assets/icon/google-icon.svg" alt=""/></div>
					<div class="btn-text">Google</div>
				</button>
			</div> -->
		</div>
	</ng-template>
	<ng-template [ngIf]="segment_value=='signup'">
		<div class="register-form-page">
			<div class="form-content">
				<div class="form-group">
			        <label class="control-label">Login Type</label>
			        <div class="radio-group">
			          <div class="custom-radio">
			            <input type="radio" name="radio-connect-01" value="2" class="custom-input-radio" (click)="connectMethod('2')" [(ngModel)]="user_type"/>
			            <label class="custom-input-label">Agent</label>
			          </div>
			          <div class="custom-radio">
			            <input type="radio" name="radio-connect-01" value="3" class="custom-input-radio" (click)="connectMethod('3')" 
			            [(ngModel)]="user_type"/>
			            <label class="custom-input-label">Customer</label>
			          </div>
			        </div>
			     </div>
				<div class="form-group">
					<label class="control-label">Enter Email</label>
					<div class="input-wrap">
						<input type="text" class="form-control" [(ngModel)]="email"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Full Name</label>
					<div class="input-wrap">
						<input type="text" class="form-control" [(ngModel)]="profile_name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">User Name</label>
					<div class="input-wrap">
						<input type="text" class="form-control" [(ngModel)]="user_name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Phone Number</label>
					<div class="input-wrap">
						<input type="text" class="form-control" [(ngModel)]="contact"/>
					</div>
				</div>
				<div class="form-group mb-4">
					<label class="control-label">Password</label>
					<div class="input-wrap">
						<input type="password" class="form-control" [(ngModel)]="password"/>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-submit" (click)="signupFun()">Signup</button>
				</div>
			</div>
			<!-- <div class="or-separator">
				<div class="or"><span>or</span></div>
				<div class="or-separator-text">Signup using</div>
			</div> -->
			<!-- <div class="social-login">
				<button class="btn-social-login" (click)="fbLogin()">
					<div class="icon"><img src="assets/icon/facebook-icon.svg" alt=""/></div>
					<div class="btn-text">Facebook</div>
				</button>
				<button class="btn-social-login" (click)="doGoogleLogin()">
					<div class="icon"><img src="assets/icon/google-icon.svg" alt=""/></div>
					<div class="btn-text">Google</div>
				</button>
			</div> -->
			<!-- <div class="terms">By clicking "<span>Signup</span>", you agree with our <a href="javascript:void(0)" class="links" target="_blank">Terms & Conditions</a>. Learn how we process your data in our <a href="javascript:void(0)" class="links" target="_blank">Privacy Policy</a> and <a href="javascript:void(0)" class="links" target="_blank">Cookies Policy</a></div> -->
		</div>
	</ng-template>
</ion-content>
<div class=loader *ngIf="showspinner==true">
  <div class="preloader"><span></span><span></span><span></span><span></span><span></span></div>
</div>
