.navTab{
	background: #fff;
	border-radius: 20px 20px 0 0;
	margin-top: 60px;
	
}

ion-segment-button{
	--indicator-box-shadow: #d88e1a!important;
	--indicator-background: #d88e1a!important;
	margin: 0;
	--background:white;
	--color:#d88e1a;
	--background-checked: #d88e1a!important;
	--color-checked: white;
	--indicator-color : transparent!important;
}

ion-list{
	--ion-item-background: none !important;
}
ion-input{
	--background: none;
}


.logRegBlock{
	position: relative;padding: 16px;background-color:#d88e1a;  min-height: calc(100vh - 165px);

	.form-actions{ display: flex; justify-content: center;padding: 10px 0 0;}
	.form-actions .btn-forgot-password{background: transparent;background: transparent;font-size: 13px;font-weight: 500;text-decoration: underline;color: #fff;}

	.control-label {
		color: #ffffff;
	}
	.custom-radio .custom-input-label{color: #fff;}
	
	.or-separator{margin: 30px 0 10px; }
	.or-separator{
		.or{display: flex;position: relative; z-index: 0;}
		.or:before{content: '';position: absolute; max-width: 250px; width: 100%; height: 1px; top: 50%; left: 50%; transform: translate(-50%,-50%); background: #ecf2f3; opacity: 0.9;z-index: -1;}
		.or span{display: block;margin: auto;background: #ecf2f3;color: #191919;width: 24px;height: 24px;text-align: center;line-height: 24px;font-size: 10px;text-transform: uppercase;font-weight: 300;border-radius: 50%;}
		.or-separator-text{font-size: 14px;text-align: center;padding: 10px 0;font-weight: 300;text-transform: uppercase;color: #212121;}
	}
	
	.terms{margin: 30px 0;color: #fff;font-size: 12px;font-weight: 400;text-align: center;}
	.terms span{font-weight: 500;}
	.terms .links{font-weight: 500;color: #0d014d;text-decoration: none;}

	.social-btn{
		font-size: 10px; text-transform: inherit;
		ion-icon{ margin-right: 4px;}
	}
}


