<ion-header>
	<div class="header">
		<ion-toolbar>
			<ion-buttons slot="start">
				<div class="back-button" (click)="navPop()">
					<i class="far fa-fw fa-chevron-left"></i>
				</div>
			</ion-buttons>
			<ion-title>{{header_title}}</ion-title>
		</ion-toolbar>
	</div>
</ion-header>

<ion-content>

	<ion-segment [(ngModel)]="segment_value" class="navTab">
	  <ion-segment-button value="signin" (click)="segmentChange('signin')">
	    <ion-label>Signin</ion-label>
	  </ion-segment-button>
	  <ion-segment-button value="signup" (click)="segmentChange('signup')">
	    <ion-label>Signup</ion-label>
	  </ion-segment-button>
	</ion-segment>

	<ng-template [ngIf]="segment_value=='signin'">
		<div class="login-form-page logRegBlock">
			<div class="form-content">
				<div class="form-group">
					<label class="control-label">Login Type</label>
					
			        <div class="radio-group">
						<ion-grid>
							<ion-row>
							  <ion-col>
								 <div class="custom-radio">
									<input type="radio" name="radio-connect-01" value="2" class="custom-input-radio" (click)="connectMethod('2')" [(ngModel)]="user_type"/>
									<label class="custom-input-label">Agent</label>
								  </div>
							  </ion-col>
							  <ion-col>
								<div class="custom-radio">
									<input type="radio" name="radio-connect-01" value="3" class="custom-input-radio" (click)="connectMethod('3')" 
									[(ngModel)]="user_type"/>
									<label class="custom-input-label">Customer</label>
								  </div>
							  </ion-col>
							</ion-row>
						</ion-grid>
			        </div>
				 </div>

				 <ion-list>
					<ion-item>
						<ion-icon name="mail-outline" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Email</ion-label>
						<ion-input color="light" inputmode="email" [(ngModel)]="email" ></ion-input>
					</ion-item>
					<ion-item>
						<ion-icon name="lock-closed-outline" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Password</ion-label>
						<ion-input color="light" inputmode="password" [(ngModel)]="password" ></ion-input>
					</ion-item>
				</ion-list>

				<div class="my-3">
					<ion-button expand="block" color="blue"  (click)="signinFun()">Signup</ion-button>
				</div>

				<div class="form-actions">
					<button class="btn-forgot-password">Forgot Password</button>
				</div>
			</div>
			<div class="or-separator">
				<div class="or"><span>or</span></div>
			</div>
			<div class="d-flex justify-content-between">
				<ion-button color="light" class="social-btn"  (click)="doGoogleLogin()"> 
					<ion-icon name="logo-google"></ion-icon> 
					Signin using Google 
				</ion-button>
				<ion-button  color="facebook" class="social-btn" (click)="fbLogin()"> 
					<ion-icon name="logo-facebook"></ion-icon>
					 Signin using Facebook
				</ion-button>
			</div>
		</div>
	</ng-template>

	<ng-template [ngIf]="segment_value=='signup'">
		<div class="register-form-page logRegBlock">
			<div class="form-content">
				<div class="form-group">
					<label class="control-label">Login Type</label>
					
			        <div class="radio-group">
						<ion-grid>
							<ion-row>
							  <ion-col>
								<div class="custom-radio">
									<input type="radio" name="radio-connect-01" value="2" class="custom-input-radio" (click)="connectMethod('2')" [(ngModel)]="user_type"/>
									<label class="custom-input-label">Agent</label>
								  </div>
							  </ion-col>
							  <ion-col>
								<div class="custom-radio">
									<input type="radio" name="radio-connect-01" value="3" class="custom-input-radio" (click)="connectMethod('3')" 
									[(ngModel)]="user_type"/>
									<label class="custom-input-label">Customer</label>
								  </div>
							  </ion-col>
							</ion-row>
						</ion-grid>
			          
			          
			        </div>
				 </div>

				 <ion-list>
					<ion-item>
						<ion-icon name="person" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Full Name</ion-label>
						<ion-input color="light" inputmode="text" [(ngModel)]="profile_name" ></ion-input>
					</ion-item>
					<ion-item>
						<ion-icon name="mail-outline" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Enter Email</ion-label>
						<ion-input color="light" inputmode="email" [(ngModel)]="email"></ion-input>
					</ion-item>
					<ion-item>
						<ion-icon name="person" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">User Name</ion-label>
						<ion-input color="light" inputmode="text" [[(ngModel)]="user_name" ></ion-input>
					</ion-item>
					<ion-item>
						<ion-icon name="call-outline" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Phone no</ion-label>
						<ion-input color="light" inputmode="number"  [(ngModel)]="contact"></ion-input>
					</ion-item>
					<ion-item>
						<ion-icon name="lock-closed-outline" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Password</ion-label>
						<ion-input color="light" inputmode="password" [(ngModel)]="password" ></ion-input>
					</ion-item>
					<ion-item>
						<ion-icon name="lock-closed-outline" color="light" slot="start"></ion-icon>
						<ion-label color="light" position="floating">Confirm Password</ion-label>
						<ion-input color="light" inputmode="password" [(ngModel)]="password" ></ion-input>
					</ion-item>
					
				</ion-list>

				<div class="my-3">
					<ion-button expand="block" color="blue"  (click)="signupFun()">Signup</ion-button>
				</div>
			</div>
			<div class="or-separator">
				<div class="or"><span>or</span></div>
			</div>

			<div class="d-flex justify-content-between">
				<ion-button color="light" class="social-btn"  (click)="doGoogleLogin()"> 
					<ion-icon name="logo-google"></ion-icon> 
					Signup using Google 
				</ion-button>
				<ion-button  color="facebook" class="social-btn" (click)="fbLogin()"> 
					<ion-icon name="logo-facebook"></ion-icon>
					 Signup using Facebook
				</ion-button>
			</div>

			<div class="terms">Already have account  <a href="javascript:void(0)" class="links" (click)="segmentChange('signin')">Sign in</a></div>
		</div>
	</ng-template>

</ion-content>

<div class=loader *ngIf="showspinner==true">
  <div class="preloader"><span></span><span></span><span></span><span></span><span></span></div>
</div>
